{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock %}

{% block content %}

<div class="container max-w-4xl top-36 mb-64">
    <div class="px-6 pt-8 lg:px-8">
        <div class="mx-auto w-fit pb-10 text-white">
            <h1 class="text-4xl text-center text-yellow-100 text-glow-yellow">Manage Bookings</h1>

            <p class="pt-6 text-center">
                View and edit your bookings.<br>If you want to create a new booking click below:
            </p>
            <div class="mt-5 flex items-center justify-center gap-x-6">
                <a href="{% url 'createbooking' %}" class="rounded-full bg-black opacity-85 lg:min-w-8 px-8 py-1 text-lg text-white shadow-sm button-glow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create New Booking</a>
            </div>
        </div>
    </div>
    <div class="px-6 lg:px-8">
        <div class="mx-auto max-w-2xl pb-11 text-yellow-100">
            <!-- Search querys -->
            {% if request.user.is_staff %}
                <div class="flex flex-row justify-evenly">
                    <form method='GET' class="text-center py-2">
                        <input type='text' name='q' value='{{ request.GET.q }}' autocomplete="off" aria-label="Search Booking by reference"
                            placeholder="Search Booking Ref">
                        <button class="button-search hover-glow p-0" type='submit' value="Search Booking by ref" aria-label="Click to search by booking ref">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                    <form method='GET' class="text-center py-2 pb-11">
                        <input type='text' name='d' value='{{ request.GET.d }}' class="datepicker" autocomplete="off" aria-label="Search Bookings by date"
                            placeholder="Search Booking Date">
                        <button class="button-search hover-glow p-0" type='submit' value="Search Booking by ref" aria-label="Click to search by date">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            {% endif %}
            <!-- Manage bookings table -->
            <div class="bg-zinc-600 solid rounded-3xl max-w-fit mx-auto">
                <h1 class="text-2xl text-center py-2 font-semibold">Your Bookings</h1>
                <table class="">
                    <thead>
                        <tr id="top-row">
                            <th class="">Ref.</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th class="slot">Slot</th>
                            <th>Size</th>
                            {% if user.is_staff %}
                            <th>Table:</th>
                            <th>Seats:</th>
                            {% endif %}
                            <th>Edit</th>
                            <th class="no-right-border">Delete</th>
                        </tr>
                    </thead>
                    {% for booking in object_list %}
                    <tbody>
                        <tr>
                            <td>{{ booking.pk }}</td>
                            <td>{{ booking.booking_name }}</td>
                            <td class="slot">{{ booking.booking_date }}</td>
                            <td class="slot">{{ booking.get_booking_slot_display }}</td>
                            <td>{{ booking.booking_size }}</td>
                            {% if user.is_staff %}
                            <td>{{ booking.booking_table.number }}</td>
                            <td>{{ booking.booking_table.capacity }}</td>
                            {% endif %}
                            <!-- Table links to edit or delete a booking - redirects to appropriate page -->
                            <td>
                                <a href="{% url 'editbooking' booking.id %}" class="text-xl cyan-glow-hover">
                                    <i class="fa-solid fa-pen-to-square"></i></a>
                            </td>
                            <td class="no-right-border">
                                <a href="{% url 'delete_booking' booking.id %}" class="text-xl red-glow-hover">
                                    <i class="fa-solid fa-xmark"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<script>$('.datepicker').datepicker({dateFormat: 'yy-mm-dd', minDate: 0, showOtherMonths: true, selectOtherMonths: true});</script>
{% endblock %}