.container {
    position: relative;
    --tw-bg-opacity: 1;
    background-color: rgb(9 9 11 / var(--tw-bg-opacity));
    opacity: 0.75;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: inline-block;
    padding-right: 0.75rem;
    width: 9rem /* 144px */;
}

label:last-child() {
    width: 15rem;
}


.input, select {
    --tw-text-opacity: 1;
    color: rgb(63 63 70 / var(--tw-text-opacity));
    border-radius: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 200px;
}

input[type=text],
input[type=number] {
    --tw-text-opacity: 1;
    color: rgb(63 63 70 / var(--tw-text-opacity));
    border-radius: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 200px;
}

button {
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-radius: 9999px;
    font-weight: 620;
    letter-spacing: 0.025em;
}

.check {
    width: 1rem;
}

form > div {
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
}

/* Date picker */
