.logo-position {
    position: relative;
    top: 20px;
    left: -20px;
}

.logo-size {
    width:300px;
    height:300px;
}

.nav-position {
    top: -40px;
}

.nav-block {
    top: -96px;
}

.tipple-hero > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: bottom;
    top: 0;
}

.contact-pos {
    top: -340px;
}

.contact-max {
    max-height: 600px;
}

/* Style for flavour text on home screen below main logo */
.text-glow-yellow {
    text-shadow: 0px 0px 10px rgb(255, 225, 89);
}

.text-glow-purple {
    text-shadow: 0px 0px 10px rgb(213, 76, 255);
}

.text-glow-cyan {
    text-shadow: 0px 0px 10px rgb(74, 237, 255);
}

/* Navbar hover styling */
nav a:hover,
.hover-glow:hover,
.active
 {
    text-shadow: 0px 0px 5px rgb(255, 225, 89);
    color: rgb(255, 242, 183);
}

.button-glow:hover {
    box-shadow: 0 0 10px rgb(255, 225, 89);
    color: rgb(255, 242, 183);
}

.event-glow:hover {
    box-shadow: 0 0 10px rgb(213, 76, 255);
    color: rgb(243 232 255);
}

.contact-glow:hover {
    box-shadow: 0 0 10px rgb(74, 237, 255);
    color: rgb(165 243 252);
}

/* Event cards */
.event-shadow {
    box-shadow: 10px 18px 30px black;
}


/* Scroll behaviour within home page */
html {
    scroll-behavior: smooth;
  }