<!-- Custom and template static load -->
{% load static %}
{% load static tailwind_tags %}
<!-- allauth links -->
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<!-- Internal links -->
{% url 'home' as home_url %}
{% url 'events' as events_url %}
{% url 'createbooking' as booking_url %}


<!DOCTYPE html>
<html class="h-100" lang="en">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Tipple & tail</title>

        <!-- Favicon | Via favicon.io -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

        <!-- Tailwind CSS -->
        {% tailwind_css  %}

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block css %}
        {% endblock %}

    </head>

    <body>
        <!-- Adapted from tailwinf official example https://tailwindui.com/components/marketing/sections/heroes -->
        <div class="tipple-hero">
            <img class="fixed overflow-y-hidden -z-10" src="{% static 'images/gold-dark-bg.jpeg' %}" alt="Background">
            <header class="absolute inset-x-0 top-0 z-50 nav-position">
                <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
                    <!-- Container for site logo as hyperlink (left) -->
                    <div class="flex lg:flex-1">
                        <a href="{% url 'home' %}" class="-m-1.5 p-1.5 logo-position">
                            <img class="size-28" src="{% static 'images/tat-logo.png' %}" alt="Logo">
                        </a>
                    </div>
                    <!-- Container for mobile menu select  -->
                    <div class="flex lg:hidden">
                        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                            <span class="sr-only">Open main menu</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>
                    </div>
                    <!-- Container for main navbar elements (middle) -->
                    <div class="hidden lg:flex lg:gap-x-12">
                        <!-- Home -->
                        <a href="{% url 'home' %}" class="text-sm font-light leading-6 text-white 
                        {% if request.path == home_url %}active{% endif %}">HOME</a>
                        <!-- About: Scrolls down to about content. If not on home page, first loads page then scrolls -->
                        <a href="{% if request.path == home_url  %}#about{% else %}{% url 'home' %}#about{% endif %}" 
                        class="text-sm font-light leading-6 text-white">ABOUT</a>
                        <!-- Contact -->
                        <a href="{% if request.path == home_url  %}#contact{% else %}{% url 'home' %}#contact{% endif %}" 
                        class="text-sm font-light leading-6 text-white">CONTACT</a>
                        <!-- Bookings -->
                        <a href="{% url 'createbooking' %}" class="text-sm font-light leading-6 text-white
                        {% if request.path == bookings_url %}active{% endif %}">BOOKINGS</a>
                        <!-- Events -->
                        <a href="{% url 'events' %}" class="text-sm font-light leading-6 text-white
                        {% if request.path == events_url %}active{% endif %}">EVENTS</a>
                    </div>
                    <!-- Container for register and login elements (right) -->
                    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    {% if user.is_authenticated %}
                        <!-- [You are logged in as <user> | LOGOUT] -->
                        <span class="text-sm font-thin leading-6 text-white px-1 active">You are logged in as {{ user }}</span>
                        <span class="text-sm font-normal leading-6 text-white px-1">|</span>
                        <a href="{% url 'account_logout' %}" class="text-sm font-thin leading-6 text-white
                        {% if request.path == logout_url %}active{% endif %}" aria-current="page">LOGOUT <i class="fa-solid fa-door-open"></i></a>
                    {% else %}
                        <!-- Register account -->
                        <a href="{% url 'account_signup' %}" class="text-sm font-thin leading-6 text-white
                        {% if request.path == signup_url %}active{% endif %}" aria-current="page">REGISTER</a>
                        <span class="text-sm font-normal leading-6 text-white px-1">|</span>
                        <!-- Log in to account -->
                        <a href="{% url 'account_login' %}" class="text-sm font-semibold leading-6 text-white
                        {% if request.path == login_url %}active{% endif %}">LOG IN <span aria-hidden="true">&rarr;</span></a>
                    {% endif %}
                    </div>
                </nav>
                <!-- Navbar transparent strip -->
                <div class="bg-zinc-800 relative h-8 w-full nav-block -z-10 opacity-75"></div>

                <!-- Mobile menu, show/hide based on menu open state. -->
                <div class="hidden" role="dialog" aria-modal="true">
                    <!-- Background backdrop, show/hide based on slide-over state. -->
                    <div class="fixed inset-0 z-50"></div>
                    <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-zinc-800 opacity-95 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                    <div class="flex items-center justify-between">
                        <a href="#" class="-m-1.5 p-1.5">
                        <img class="h-8 w-auto" src="{% static 'images/tat-logo.png' %}" alt="">
                        </a>
                        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Close menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                        </button>
                    </div>
                    <div class="mt-6 flow-root">
                        <div class="-my-6 divide-y divide-gray-500/10">
                        <div class="space-y-2 py-6">
                            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50">Home</a>
                            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50">About</a>
                            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50">Contact</a>
                            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50">Bookings</a>
                            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50">Events</a>
                        </div>
                        <div class="py-6">
                            <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </header>
        </div>

            {% block content %}
            
            {% endblock content %}


        <!-- Footer -->

        {% block scripts %}
        {% endblock %}
        <script src="https://kit.fontawesome.com/8504e83294.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>