

{% load static %}
{% load static tailwind_tags %}
{% url 'home' as home_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Tipple & tail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Tailwind CSS -->
    {% tailwind_css  %}

    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->

</head>

<body>
    <h1 class="text-5xl">Tipple & tail</h1>
    <div></div>

    <!-- Navigation -->
</body>

</html>